.header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--space-4) 0;
  z-index: 2;
  transition: padding 0.15s ease;
}

.logo {
  display: block;
}

.logo img {
  display: block;
  max-width: 24px;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
}

button.mobileToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.mobileToggle:after,
.mobileToggle:before {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-offset);
  transition: transform 0.15s ease;
}

.mobileToggle:hover:after,
.mobileToggle:hover:before {
  background-color: var(--color-dark);
}

.mobileToggle:before {
  transform: translateY(5px) rotate(0deg);
}

.mobileToggle:after {
  transform: translateY(-5px) rotate(0deg);
}

.isMenuOpen:before {
  transform: translateY(12px) rotate(-45deg);
}

.isMenuOpen:after {
  /* off by 2 because of normal 2px positioning diff */
  transform: translateY(-10px) rotate(45deg);
}
