.button {
  /* padding: 5px 10px; */
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.link {
  color: var(--color-link);
}

.link:after {
  content: '';
  position: absolute;
  background: transparent;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 40%;
  pointer-events: none;
  transition: 0.2s ease all;
  transform: scaleX(0);
  transform-origin: left center;
  z-index: -1;
  opacity: 0.5;
}

.link:focus:after,
.link:hover:after {
  background: gold;
  transform: scaleX(1);
}
